* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Swanky and Moo Moo';

}

.App {
  background-image: url('https://images.pexels.com/photos/218863/pexels-photo-218863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  object-fit: cover;
  /* background-color: #f6f0ef; */
}

.foto {
  width: 100%;
  height: auto;
}

.fotoContainer {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  top: 50px;
  left:100px

}

/* estilos appBar */

.appBar {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding: 3vh;
  background-color: #efe5e5;
  align-items: center;
}

.textoAppBar {
  font-size: 25px;
  letter-spacing: 1px;
}

.barra {
  margin: 0 7px;
}